@font-face {}

body {
    background-color: #f0f0f0
}

h1 {
    padding: 20px;
    height: 100px;
    font-size: 36px;
}

h1, p.footer {
    background-color: #c2185b;
    color: white
}

.redtext {
    color: red
}

img {
    border-radius: 100%
}
