@font-face {
    font-family: Roboto Condensed Light;
    src: url("../fonts/RobotoCondensed-Light.ttf")
}

body {
    background-color: #f0f0f0;
    font-family: 'Roboto Condensed Light'
}

#header h1 {
    padding: 20px;
    font-size: 36px;
}

#header {
    height: 100px
}

#header h1, #footer p {
    background-color: #c2185b;
    color: white
}

#hobbies, #about_me {
    background-color: #FFF;
    float: left;
    margin: 10px;
    width: 350px
}

#footer {
    clear: both
}

.redtext {
    color: red
}

img {
    float: left;
    margin: 5px;
    border-radius: 100%
}

tr.even {
    background-color: #FFF
}

tr.odd {
    background-color: #EEE
}

th.head {
    background-color: #000;
    border-color: #FFF;
    color: #FFF
}